# Общие настройки
NODE_ENV=development
PORT=3000

# Настройки базы данных
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=expenses_db

# Секреты
JWT_SECRET=mysecretjwtkey
