@import "tailwindcss";

/* .react-datepicker__time-list-item {
  padding: 6px 8px;
  font-size: 0.85rem;
}

.react-datepicker__month {
  min-height: 200px;
  padding-top: 5px;
} */

.ios-calendar {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.ios-calendar .react-datepicker__header {
  background: white;
  border: none;
  padding-top: 12px;
}

.ios-calendar .react-datepicker__day {
  margin: 0.2em;
  width: 2em;
  line-height: 2em;
}

.ios-calendar .react-datepicker__day--selected {
  background: #007AFF;
  border-radius: 50%;
}

/* Стили для времени */
.react-datepicker__time-container {
  border-left: 1px solid #f0f0f0;
}

.react-datepicker__time-box {
  width: 100px;
}

.btn-base {
  @apply px-4 py-2 rounded-lg text-sm border transition-colors duration-300;
}

.btn-confirm {
  @apply text-white bg-blue-500 hover:bg-blue-600 border-blue-500 hover:border-blue-600 active:bg-blue-700 active:border-blue-700;
}

.btn-cancel {
  @apply text-gray-800 border bg-white border-gray-400 hover:bg-gray-50 active:bg-gray-100
}

.btn-delete {
  @apply text-white bg-red-500 hover:bg-red-600 border-red-500 hover:border-red-600 active:bg-red-700 active:border-red-700
}

.btn-disabled {
  @apply text-gray-500 bg-gray-200 hover:bg-gray-200
}

.input-delete {
  @apply px-3 py-1 text-black bg-red-200 hover:bg-red-300 border-l border-neutral-500 rounded-r transition-colors active:bg-red-400
}

.label-text {
  @apply block text-sm text-center font-medium text-gray-700
}

.first-column {
  @apply p-1 text-sm font-medium w-[50%]
}

.second-column {
  @apply p-1 text-sm font-medium text-center w-[17%]
}

.third-column {
  @apply p-1 text-sm font-medium text-right w-[34%] 
}