@import "tailwindcss";

/* .react-datepicker__time-list-item {
  padding: 6px 8px;
  font-size: 0.85rem;
}

.react-datepicker__month {
  min-height: 200px;
  padding-top: 5px;
} */

.ios-calendar {
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
  /* border: none;
  border-radius: 12px; */
  /* box-shadow: 0 4px 20px rgba(0,0,0,0.15); */
}

.ios-calendar .react-datepicker__header {
  background: white;
  border: none;
  /* padding-top: 12px; */
}

.ios-calendar .react-datepicker__day {
  /* margin: 0.2em;
  width: 2em;
  line-height: 2em; */
  width: 30px;
}

.ios-calendar .react-datepicker__day--selected {
  background: #007ABB;
  border-radius: 50%;
}

.ios-calendar .react-datepicker__time-box--selected {
  background: #007AFF;
  /* border-radius: 50%; */
}

/* Стили для времени */
.react-datepicker__time-container {
}

.react-datepicker__time-box {
  width: 100px;
  border-right: 1px solid #B0B0B0;
}

.btn-base {
  @apply px-2 py-2 w-full rounded-lg text-sm font-semibold tracking-wide border transition-colors duration-300 truncate cursor-pointer;
}

.btn-confirm {
  @apply text-white bg-blue-300 hover:bg-blue-400  hover:border-blue-400 active:bg-blue-500 active:border-blue-500;
}

.btn-cancel {
  @apply text-gray-500 border bg-white border-gray-400 hover:bg-gray-50 active:bg-gray-100
}

.btn-delete {
  @apply text-white bg-red-500 hover:bg-red-600 border-red-500 hover:border-red-600 active:bg-red-700 active:border-red-700
}

.btn-disabled {
  @apply border-gray-200 text-gray-500 bg-gray-200 hover:bg-gray-200
}

.input-delete {
  /* @apply px-3 py-1 text-black bg-red-200 hover:bg-red-300 border-l border-neutral-500 rounded-r transition-colors active:bg-red-400 */
  @apply flex items-center justify-center w-5 h-5 rounded-full border border-gray-400 bg-gray-400 text-[14px] text-white cursor-pointer
}

.div-input {
  /* @apply px-3 py-1 text-black bg-red-200 hover:bg-red-300 border-l border-neutral-500 rounded-r transition-colors active:bg-red-400 */
  @apply flex items-center border-b border-gray-600 bg-white w-full
}

.label-text {
  /* @apply block text-sm text-center font-medium text-gray-700 */
  @apply text-left text-sm text-gray-500 mb-2
}

.first-column {
  @apply p-1 text-sm font-normal w-[50%]
}

.second-column {
  @apply p-1 text-sm font-normal text-center w-[17%]
}

.third-column {
  @apply p-1 text-sm font-normal text-right w-[34%] 
}

body {
  padding-right: var(--scrollbar-width, 0px);
}

.floating-buttons {
  right: var(--scrollbar-width, 0px);
}