@import "tailwindcss";

/* .react-datepicker__time-list-item {
  padding: 6px 8px;
  font-size: 0.85rem;
}

.react-datepicker__month {
  min-height: 200px;
  padding-top: 5px;
} */

.ios-calendar {
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
  /* border: none;
  border-radius: 12px; */
  /* box-shadow: 0 4px 20px rgba(0,0,0,0.15); */
}

.ios-calendar .react-datepicker__header {
  background: white;
  border: none;
  /* padding-top: 12px; */
}

.ios-calendar .react-datepicker__day {
  /* margin: 0.2em;
  width: 2em;
  line-height: 2em; */
  width: 30px;
}

.ios-calendar .react-datepicker__day--selected {
  background: #007ABB;
  border-radius: 50%;
}

.ios-calendar .react-datepicker__time-box--selected {
  background: #007AFF;
  /* border-radius: 50%; */
}

.react-datepicker__time-container {
}

.react-datepicker__time-box {
  width: 100px;
  border-right: 1px solid #B0B0B0;
}

.btn-base {
  @apply px-2 py-2 w-full rounded-lg text-sm font-semibold tracking-wide border transition-colors duration-300 truncate cursor-pointer;
}

.btn-confirm {
  @apply text-white bg-blue-300 hover:bg-blue-400  hover:border-blue-400 active:bg-blue-600 active:border-blue-600;
}

.btn-cancel {
  @apply text-gray-500 border bg-white border-gray-400 hover:bg-gray-100 active:bg-gray-200
}

.btn-delete {
  @apply text-white bg-red-400 hover:bg-red-600 border-red-500 hover:border-red-500 active:bg-red-700 active:border-red-700
}

.btn-disabled {
  @apply border-gray-200 text-gray-500 bg-gray-200 hover:bg-gray-200
}

.input-delete {
  @apply flex items-center justify-center w-5 h-5 rounded-full border border-gray-500 text-[14px] text-gray-500 cursor-pointer 
}

.div-input {
  @apply flex items-center w-full border border-gray-400 rounded-md p-1
}

.label-text {
  @apply text-center text-sm text-gray-700 tracking-wide
}

.first-column {
  @apply p-1 text-sm font-normal w-[50%]
}

.second-column {
  @apply p-1 text-sm font-normal text-center w-[17%]
}

.third-column {
  @apply p-1 text-sm font-normal text-right w-[34%] 
}

body {
  padding-right: var(--scrollbar-width, 0px);
}

.floating-buttons {
  right: var(--scrollbar-width, 0px);
}

.hide-scrollbar .floating-buttons {
  right: 5px ;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  15% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  85% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}

.error-toast {
  animation: fadeInOut 2s ease-in-out forwards;
  pointer-events: none; /* Чтобы не блокировать клики */
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  width: 100vw;
  overflow-x: hidden;
  padding-right: 0 !important;
}

.my-table {
  width: 50vw;
  overflow-x: hidden;
  padding-right: 0 !important;
}

*::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgb(171, 213, 246);
  border-radius: 10px;
}

.hide-scrollbar {
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* index.css */
.rounded-row {
  position: relative;
}

.rounded-row td:first-child {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.rounded-row td:last-child {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}